@import 'variables/variables';
@import 'mixins/mixins';

body {
  font-family: Roboto, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #39404e;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  li {
    list-style: none;
    cursor: pointer;
  }
}

h1,
p:hover {
  cursor: default;
}

// HTML TAGS.
.top-tags {
  top: 7px;
}

.tags {
  color: $tag-color;
  position: absolute;
  bottom: 7px;
  left: 21px;
  font-size: $tag-size;
  font-family: 'La Belle Aurore', cursive;
  font-weight: 600;
}

h1::before {
  @include h1Before();
}

h1::after {
  @include h1After();
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s ease;
}

// ROUTING ANIMATION.
.page-enter,
.page-leave-active {
  opacity: 0;
  transform: scale(0);
}

@media (max-width: 600px) {
  .tags {
    left: 1px;
  }
}
