@mixin shadow {
  box-shadow: 3px 5px 21px 5px $secondary-color;
}

@mixin btn {
  color: $secondary-color;
  display: inline-block;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  padding: 9px 13px;
  letter-spacing: 3px;
}

@mixin btnHover {
  color: #141414;
  border-color: $secondary-color;
  background-color: $secondary-color;
  transition: $transition;
  @include shadow;
}

@mixin contactBtn {
  color: #141414;
  display: inline-block !important;
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  border-radius: 3px;
  padding: 9px 13px;
  letter-spacing: 5px;
}

@mixin contactBtnHover {
  color: $secondary-color;
  border-color: $secondary-color;
  background-color: #141414;
  transition: $transition;
  @include shadow;
}
